.shadow {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.file-add {
    position: relative;
    background-color: white;
    padding: 20px 10px;
    margin: 130px auto;
    width: 350px;
}

.file-add .close {
    position: absolute;
    font-size: 40px;
    top: 0;
    right: 5px;
}